<div class="page">
  <div class="blog shadow card">
    <div class="shadow section__header">
      <div class="section__title">
        Our Blog
      </div>
    </div>
    <div class="section__content">
      {{#each posts}}
        <div class="card shadow blog__post">
          <div class="shadow section__header">
            <div class="section__title">
              <a href="/index/blog/{{_id}}">{{title}}</a>
            </div>
          </div class="section__content">

          {{content}}
          {{date}}

          <div class="text-center shadow--top section__footer">
            By:{{author}}
          </div>
        </div>
      {{/each}}
    </div>
    <script type="text/javascript" src="/js/scripts.js"></script>

    <div class="text-center shadow--top section__footer">
      By:{{author}}
    </div>
    <button class="button--delete">Delete</button>
  </div>
  {{/each}}

</div>

</div>
</div>
